.container
  h1= pageTitle
  form.form-horizontal(method="POST", action="/recommend", enctype="multipart/form-data")
    .control-group
      label.control-label(for="app-name") 名称
      .controls
        input(type="text", name="app[displayName]", value=app.displayName)
    .control-group
      label.control-label(for="app-icon") 图标
      .controls
        - if (app.lIconUrl)
          img(src=app.lIconUrl)
        input#app-icon(type="file", name="lIconUrl")
        p.help-block IOS应用图标最小尺寸57*57
    .control-group
      label.control-label(for="app-iconHd") 高清图标
      .controls
        - if (app.hIconUrl)
          img(src=app.hIconUrl)
        input#app-iconHd(type="file", name="hIconUrl")
        p.help-block IOS应用图标最小尺寸114*114
    .control-group
      label.control-label(for="app-downloadUrl") 下载地址
      .controls
        input(type="text", name="app[downloadUrl]", value=app.downloadUrl)
    .control-group
      label.control-label(for="app-schema") Schema
      .controls
        input(type="text", name="app[_schema]", value=app._schema)
        p.help-block iOS应用填写Schema信息，Android应用填写程序Id
    input(type="hidden", name="appId", value="#{appId}")
    input(type="hidden", name="action", value="#{action}")
    .form-actions
      input.btn.btn-primary(type="submit")
      a.btn(href="/app/#{appId}/config") 取消
